<!DOCTYPE html>
<html>
<head>
    <title>Root Finding Methods</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body background="img/mcsc.png">
    <div class="container">
        <h1>Lab work 1</h1>
        
        <div class="button-container">
            <button onclick="location.href='/qn1'" type="button">question number 1</button>
            <button onclick="location.href='/qn2'" type="button">question number 2</button>
            <button onclick="location.href='/qn3'" type="button">question number 3</button>
            <button onclick="location.href='/qn4'" type="button">question number 4</button>
        </div>
    </div>
</body>
</html>
